@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#09090B] text-zinc-100 antialiased font-sans selection:bg-violet-600 selection:text-white;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #18181B;
}
::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3F3F46;
}
